#name {
  color: palevioletred;
}

.menu {
  margin: 10px;
  /* display: inline-block; */
}

.menu > .menu-item > a {
  text-decoration: none;
  color: palevioletred;
  font-weight: bolder;
  text-transform: uppercase;
}
.menu > .menu-item {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 10px;
}
.menu > .menu-item:hover {
  background-color: papayawhip;
  border-radius: 10px;
}

.details {
  display: block;
  width: 80%;
  margin: auto;
  border: 1px solid pink;
  border-radius: 5px;
  padding: 10px;
}
.details > li {
  list-style: none;
}
